<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/pending-deliveries.css">
  <title>Delivery</title>
</head>
<body>
  <h1>Entregas Disponiveis</h1>
  <ul>
    <% orders.forEach(function(order) { %>
      <li>
        <strong>Pedido:</strong> <%= order.id_pedido %><br>
        <strong>Cliente:</strong> <%= order.cliente.nome %><br>
        <strong>Endereço:</strong> <%= order.endereco.rua %><br>
        <form action="/deliveries/<%= order.id_pedido %>" method="POST">
          <button type="submit">Iniciar Entrega</button>
        </form>
      </li>
    <% }); %>
  </ul>
</body>
</html>